<!-- Event Binding
    Eventos que podem ser capturados a partir do template:
    Clique (Click)
    Foco (onFocus)
    Inclusao de texto ()
    Movimentacao cursor
    Sair com o cursor 
    Entrar com o cursor
    Ctrl c +v
    Digitacao de tecla
-->

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <app-progresso [progresso]="progresso"></app-progresso>
            </div>
            <div class="col-sm-6">
                <div class="d-flex justify-content-end">
                    <app-tentativas></app-tentativas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>{{instrucao}}</h5>
                <p>{{ rodadaFrase.fraseEng }}</p>
              <!--  <p>{{ resposta }}</p> -->
                <div class="form-group">
                    <textarea 
                    class="form-control" 
                    rows="3"
                    (input)="atualizaResposta($event)"
                    [value]="resposta"
                    > 
                </textarea>
                <!--Event binding: Realiza a captura do evento de insercao de texto, chamando o método ts 
                $event copia a string do campo texto
                -->

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-primary" (click)="verificarResposta()"> 
                        Verificar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>